<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
		<footer class="bg-light text-dark py-4 mt-5" data-th-fragment="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h5>Facultad de Ingeniería de Jujuy</h5>
						<p>Dirección: Ing. Mario Italo Palanca 10, Y4600 San Salvador de Jujuy, Jujuy.</p>
						<p>Teléfono: +54 388 422-1580</p>
						<p>Email: info@fi.unju.edu.ar</p>
					</div>
					<div class="col-md-4">
						  <h5>Enlaces Útiles</h5>
						  <ul class="list-unstyled">
							<li><a href="#">Portal Académico</a></li>
							<li><a href="#">Servicios Estudiantiles</a></li>					  					                        
							<li><a href="#">Investigación</a></li>					  					                        
							<li><a href="#">Contacto</a></li> 
						  </ul>
					</div>
					<div class="col-md-4">
						<h5>Redes Sociales</h5>
						<a href="#"><img src="/img/facebook-icon.png" alt="Facebook" class="img-fluid" style="max-width: 40px;"></a>
						<a href="#"><img src="/img/twitter-icon.png" alt="Twitter" class="img-fluid" style="max-width: 40px;"></a>
						<a href="#"><img src="/img/instagram-icon.png" alt="Instagram" class="img-fluid" style="max-width: 40px;"></a>
						<a href="#"><img src="/img/linkedin-icon.png" alt="LinkedIn" class="img-fluid" style="max-width: 40px;"></a>
					</div>
				</div>
				<div class="text-center mt-3">
					<p>&copy; 2024 Facultad de Ingeniería de Jujuy. Todos los derechos reservados.</p>
				</div>
			</div>
		</footer>  
</body>
</html>
